@font-face {
    font-family: "Red Hat Display";
    src: url("./fonts/Red_Hat_Display/static/RedHatDisplay-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Space Mono";
    src: url("./fonts/Space_Mono/SpaceMono-Bold.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
input {
    font-family: "Red Hat Display", sans-serif;
    padding: 10px;
    width: 80%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/*div[class="input"] {
    align-items: center;
    width: 98%;
    border: 10px solid #273469;
    border-radius: 4px;
}*/
form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
}
.chat-box{
    background-color: #FFFFFF80;
}
button {
    font-family: "Red Hat Display", sans-serif;
    background-color: #d80032;
    color: white;
    font-size: 1em;
}
body {
    font-family: "Red Hat Display", sans-serif;
    margin: 20px;
    background-color: #edf2f4;
}
.chat-box {
    border: 1px solid #d80032;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    align-items: center;
    width: 98%;
    margin-right: 10px;
}
.user {
    font-family: "Red Hat Display", sans-serif;
    color: #30343f;
}
.bobot {
    font-family: "Red Hat Display", sans-serif;
    color: #d80032;
}

.type h1 {
    font-family: "Space Mono";
    color: #d80032;
    align-items: center;
    font-size: 40px;
    overflow: hidden;
    margin-inline: auto;
    white-space: nowrap;
    border-right: .1em solid #e6555a;
    margin: 0 auto;
    letter-spacing: .05em;
    animation:
        typing 2s steps(40, end) forwards,
        blink .75s step-end infinite;
}
input[type="text"] {
  height: 50px;
  font-size: 20px;
  background-color: #FFFFFF80;
}
button[type="submit"] {
  height: 50px;
  width: 100px;
  font-size: 20px;
}
.follow_up_div {
   background-color: #8d99ae;
   text-align: center;
   padding: 10px;
   border-radius: 10px;
   border-color: #2b2d42;
   color: white;
   align-items: center;
   width: 100%;
}

@keyframes typing { 
    from { width: 0 }
    to { width: 14ch; }
}
@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: #e6555a }
}
