<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <title>YouThought</title>
    </head>
    <body>
        <div class="type"><h1>YouThought</h1></div>
        <form method="POST" action="/">
            <input type="text" id="user-input" name="user-input" placeholder="Describe your issue..." required>
            <button type="submit">Send</button>
        </form>
       <div class="chat-box" id= "chat-box">
            {% for sender, msg in chat_history %}
                <p class="{{ sender }}"> 
                    {{ sender.capitalize() }}: {{ msg }}
                </p>
            {% endfor %}
        </div> 
    </body>
</html>