<html>
    <head>
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <title>YouThought</title>
    </head>
    <body>
       <div class="type" style= margin-bottom:1em><h1>YouThought</h1></div>
       <div class="input">
            <form method="POST" action="/">
                <input type="text" id="user-input" name="user-input" placeholder="Describe your issue..." required>
                <button type="submit" onclick="scroll(); showFollowUps();">Send</button>
            </form>
        </div>
       <div class="chat-box" id= "chat-box">
            {% for sender, msg in chat_history %}
                <p class="{{ sender }}"> 
                    {{ sender.capitalize() }}: {{ msg }}
                </p>
            {% endfor %}
        </div>
        <div id="follow-ups" class="follow-ups" style="display:flex; justify-content: center; font-family: Space Mono; font-size: 18px; flex-direction: column; align-items: center; gap: 1em; margin-top: 2em; margin-bottom: 2em;">
            <button id="regenerateButton" onclick="regenerate()">Generate a new response:</button>
            <h2 style="color: #d90429">Dive Deeper:</h2>
            <div style="display: flex; justify-content: center; flex-direction: row; align-items: center; gap: 2em; width: 100%;">
                {% if problem == 0: %}
                    {% for question in ((follow_ups["procrastinate"])): %}
                        <button class="follow_up_div" style="width: 20%; align-items: center;" onclick="hideFollowUp(), sendFollowUp('{{ question}}')">
                            <p style="width: 100%">{{ question }}</p>
                        </button>
                    {% endfor %}
                {% elif problem == 1 %}
                    {% for question in ((follow_ups["distracted"])): %}
                        <button class="follow_up_div" style="width: 20%; align-items: center;" onclick="hideFollowUp(), sendFollowUp('{{ question}}')">
                            <p style="width: 100%">{{ question }}</p>
                        </button>
                    {% endfor %}
                {% elif problem == 2 %}
                    {% for question in ((follow_ups["lock in"])): %}
                        <button class="follow_up_div" style="width: 20%; align-items: center;" onclick="hideFollowUp(), sendFollowUp('{{ question}}')">
                            <p style="width: 100%">{{ question }}</p>
                        </button>
                    {% endfor %}
                {% elif problem == 3 %}
                    {% for question in ((follow_ups["starting"])): %}
                        <button class="follow_up_div" style="width: 20%; align-items: center;" onclick="hideFollowUp(), sendFollowUp('{{ question}}')">
                            <p style="width: 100%">{{ question }}</p>
                        </button>
                    {% endfor %}
                {% elif problem == 4 %}
                    {% for question in ((follow_ups["don't want to"])): %}
                        <button class="follow_up_div" style="width: 20%; align-items: center;" onclick="hideFollowUp(), sendFollowUp('{{ question}}')">
                            <p style="width: 100%">{{ question }}</p>
                        </button>
                    {% endfor %}
                {% elif problem == 5 %}
                    {% for question in ((follow_ups["tired"])): %}
                        <button class="follow_up_div" style="width: 20%; align-items: center;" onclick="hideFollowUp(), sendFollowUp('{{ question}}')">
                            <p style="width: 100%">{{ question }}</p>
                        </button>
                    {% endfor %}
                {% elif problem == 6 %}
                    {% for question in ((follow_ups["phone"])): %}
                        <button class="follow_up_div" style="width: 20%; align-items: center;" onclick="hideFollowUp(), sendFollowUp('{{ question}}')">
                            <p style="width: 100%">{{ question }}</p>
                    {% endfor %}
                {% elif problem == 7 %}
                    {% for question in ((follow_ups["motivation"])): %}
                        <button class="follow_up_div" style="width: 20%; align-items: center;" onclick="hideFollowUp(), sendFollowUp('{{ question}}')">
                            <p style="width: 100%">{{ question }}</p>
                        </button>
                    {% endfor %}
                {% else: %}
                    {% for question in ((follow_ups["default"])): %}
                        <button class="follow_up_div" style="width: 20%; align-items: center;" onclick="hideFollowUp(), sendFollowUp( '{{ question }}' )">
                            <p style="width: 100%">{{ question }}</p>
                        </button>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
        <form style="display: none" id="followUp-form" action="/" method="POST">
            <input type="text" id="followUp-input" name="user-input" autocomplete="off" />
            <button type="submit"></button>
        </form>
        <form style="display: none" id="regenerate-form" action="/" method="POST">
            <input id="regenerate-input" style="display: none" name="regenerate" value="1"></input>
        </form>

    </body>
</html>